.container {
  background: linear-gradient(
    190deg,
    var(--wasd-white),
    var(--wasd-blue-2),
    var(--wasd-blue-3),
    var(--wasd-purple)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 100px;
}

.breakContent {
  flex: 1;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px
}

.wasdIso {
  width: 200px; height: 200px;
  background-image: url('../assets/wasd-w-2020-bordered.png');
  background-position: center;
  background-size: cover;
}

.subtitle {
  color: var(--wasd-white);
  font-family: 'DaggerSquareOblique';
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.cam {
  width: 100%;
  height: 450px;
  background-color: var(--chroma-green);
  border: 3px solid var(--wasd-grey-2);
  margin-bottom: 5px;
  position: relative;
}

.live {
  color: var(--wasd-white);
  font-family: 'MontserratBold';
  font-size: 22px;
  position: absolute;
  bottom: 10px; left: 10px;
  padding: 10px;
  background: linear-gradient(to right, var(--wasd-purple), var(--wasd-blue-3));
  border-radius: 5px;
}

.nowPlaying {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spotify {
  width: 35px; height: 35px;
  background-image: url('../assets/spotify-white.png');
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.songDetails {
  color: var(--wasd-white);
  font-family: 'DaggerSquareOblique';
  font-size: 30px;
}
