.background {
  background: linear-gradient(
    150deg,
    var(--wasd-white),
    var(--wasd-blue-2),
    var(--wasd-blue-3),
    var(--wasd-purple)
  );
}

.game {
  position: absolute;
  top: 0px; right: 0px;
  width: 1381px; height: 777px;
  background-color: var(--chroma-green);

  border-left: 3px solid var(--wasd-grey-2);
  border-bottom: 3px solid var(--wasd-grey-2);
}

.camera {
  position: absolute;
  top: 0px; left: 0px;
  width: 539px; height: 475px;
  background-color: var(--chroma-green);
  border-bottom: 3px solid var(--wasd-grey-2);
}

.sponsorsArea {
  position: absolute;
  bottom: 0px; left: 0px;
  width: 539px; height: 497px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottomRow {
  font-family: 'DaggerSquareOblique';
  color: var(--wasd-white);
  position: absolute;
  bottom: 0px; right: 0px;
  height: 195px; width: 1381px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.runDetails {
  width: 930px; height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.runGame {
  font-size: 45px;
  margin-bottom: 10px;
}

.runDetailRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.runDetailRow div {
  margin: 0 10px;
}

.timerArea {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timerEstimate {
  font-size: 22px;
}
