.playerDetails {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  align-content: end;
  flex-flow: row wrap-reverse;
}

.playerTile {
  font-family: 'MontserratBold';
  color: var(--wasd-white);
  font-size: 27px;
  background: linear-gradient(to right, var(--wasd-purple), var(--wasd-blue-2));
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 5px 15px;
}

.playerIcon {
  width: 27px; height: 27px;
  background-image: url('./player.png');
  background-position: center;
  background-size: cover;
  margin-right: 15px;
}
