.background {
  background: linear-gradient(
    230deg,
    var(--wasd-white),
    var(--wasd-blue-2),
    var(--wasd-blue-3),
    var(--wasd-purple)
  );
}

.game {
  position: absolute;
  top: 0px; right: 0px;
  width: 1296px; height: 972px;
  background-color: var(--chroma-green);

  border-left: 3px solid var(--wasd-grey-2);
}

.leftColumn {
  position: absolute;
  top: 0px; left: 0px;
  width: 624px; height: 270px;
  font-family: 'DaggerSquareOblique';
  color: var(--wasd-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.runDetails {
  width: 100%; height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.runGame {
  font-size: 41px;
  margin-bottom: 7px;
}

.runDetailsRow {
  font-size: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.runDetailsRow div {
  margin: 0 10px;
}

.timerArea {
  width: 100%; flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timerEstimate {
  font-size: 20px;
}

.camera {
  position: absolute;
  top: 270px; left: 0px;
  width: 624px; height: 400px;
  background-color: var(--chroma-green);
  border-top: 3px solid var(--wasd-grey-2);
  border-bottom: 3px solid var(--wasd-grey-2);
}

.sponsorsArea {
  position: absolute;
  bottom: 0px; left: 0px;
  width: 624px; height: 302px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
