@font-face {
  font-family: 'DaggerSquareOblique';
  src: url('./assets/daggersquare-oblique.otf') format('opentype');
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('./assets/ubuntumono-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('./assets/montserrat-bold.ttf') format('truetype');
}

:root {
  --wasd-blue-1: #A4F4FF;
  --wasd-blue-2: #57EDFF;
  --wasd-blue-3: #3C99FF;
  --wasd-blue-4: #504BDF;
  --wasd-white: #EEF6FF;
  --wasd-grey-1: #4A4A4A;
  --wasd-grey-2: #363636;
  --wasd-purple: #8896FF;
  --chroma-green: #00FF00;
  --chroma-orange: #FF8000;
}

* {
  box-sizing: border-box;
  /* border: 1px red solid; */
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.graphic {
  width: 1920px; height: 972px;
  position: relative;
}

.verticalSpacer {
  height: 75%;
  width: 4px;
  background-color: var(--wasd-white);
  border-radius: 4px;
  opacity: 0.75;
}

.horizontalSpacer{
  width: 75%;
  height: 4px;
  background-color: var(--wasd-white);
  border-radius: 4px;
  opacity: 0.75;
}
