.barContainer {
  width: 1920px;
  height: calc(1080px / 10);
  display: flex;
  flex-direction: row;
}

.barLeft {
  width: 20%;
  height: 100%;
}

.barCenter {
  height: 100%;
  flex-grow: 1;
}

.barRight {
  width: 20%;
  height: 100%;
}
