.container {
  border-top: 3px solid var(--wasd-grey-1);
  width: 1920px;
  height: 108px;
  /* background: linear-gradient(var(--wasd-purple), var(--wasd-blue-3), var(--wasd-purple)); */
  background: linear-gradient(var(--wasd-blue-3), var(--wasd-purple));
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wasdIso {
  height: 90px;
  width: 100px;
  background-image: url('../assets/wasd-w-2020-borderless.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 20px;
}

.specialEffect {
  height: 94px;
  width: 300px;
  background-image: url('../assets/specialeffect-white.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.total {
  font-size: 47px;
  color: var(--wasd-white);
  font-family: 'MontserratBold';
  margin-right: 20px;
}

.time {
  font-size: 47px;
  color: var(--wasd-white);
  font-family: 'MontserratBold';
  margin: 0 20px;
}

.cta {
  flex: 1;
  height: 90%;
  margin: 0 20px;
  position: relative;
}

.ctaItem {
  font-size: 45px;
  color: var(--wasd-white);
  font-family: 'DaggerSquareOblique';
  position: absolute;
  height: 100%; width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
